In [49]:
#import dependencies
import os
import csv
import pandas as pd
import numpy as np

In [3]:
#load the csv files into pandas dataframe
filepath = os.path.join("Resources","schools_complete.csv")
schools_df = pd.read_csv(filepath)
schools_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
filepath2 = os.path.join("Resources","students_complete.csv")
students_df = pd.read_csv(filepath2)
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
#total schools
total_schools = schools_df["name"].nunique()
total_schools

15

In [8]:
#total students
total_students = int(students_df["Student ID"].nunique())
total_students

39170

In [9]:
#total budget
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [10]:
#Average math score
avg_math_score = round(students_df["math_score"].mean(),1)
avg_math_score

79.0

In [11]:
#Average reading score
avg_reading_score = round(students_df["reading_score"].mean(),0)
avg_reading_score

82.0

In [13]:
#total of students passing math (score above 70)
students_passing_math = students_df[students_df["math_score"] > 70].count()["name"]
#% of students passing maths
percentage_students_passed_math = round((students_passing_math/total_students)*100,0)
percentage_students_passed_math

72.0

In [15]:
#total students passing reading
students_passing_reading = students_df[students_df["reading_score"]>70].count()["name"]

#percentage of students passing reading
percentage_passing_reading = round(((students_passing_reading/total_students)*100),1)
percentage_passing_reading

83.0

In [16]:
#Overall Passing Rate
overall_passing_rate = (percentage_students_passed_math + percentage_passing_reading)/2
overall_passing_rate

77.5

In [17]:
#Overview Table
district_Summary_df = pd.DataFrame({"Total Schools":[total_schools],
                      "Total Students":[total_students],
                      "Total Budget":[total_budget],
                      "Average Math Score":[avg_math_score],
                      'Average Reading Score':[avg_reading_score],
                      "% Passing Math":[percentage_students_passed_math],
                      "% Passing Reading":[percentage_passing_reading],
                      "Overall Passing rate":[overall_passing_rate]})
district_Summary_df

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing rate,Total Budget,Total Schools,Total Students
0,72.0,83.0,79.0,82.0,77.5,24649428,15,39170

In [18]:
#schooltype
school_type = schools_df.set_index(["name"])["type"]
school_type

name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [81]:
#merge both the dataframes
schools_df = schools_df.rename(columns={'name':'school_name'})
students_df = students_df.rename(columns={'school':'school_name'})


combined_df = pd.merge(students_df,schools_df,on="school_name")
combined_df.head()

,Student ID,name,gender,grade,school_name,reading_score,math_score,school_id,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [70]:

#total school budget
budget_per_school = combined_df.groupby(["school_name"]).mean()["budget"]
budget_per_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [100]:
#budget per student 
budget_per_student = budget_per_school/total_students_per_school
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [74]:
#Average math Score
#total math score per school
avg_math_scores = round(combined_df.groupby(["school_name"]).mean()["math_score"],2)
avg_math_scores

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [75]:
#avergae reading scores per school
#total reading scores per school
avg_reading_scores = round(combined_df.groupby(["school_name"]).mean()["reading_score"],2)
avg_reading_scores

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [84]:
#students passing math by schools
#total students per school
total_students_per_school = combined_df["school_name"].value_counts()

students_passing_math = combined_df[(combined_df["math_score"]>70)]
students_passing_math_per_school = students_passing_math.groupby(["school_name"]).count()["name"]
percentage_passing_math_schools = round((students_passing_math_per_school/total_students_per_school)*100,2)
percentage_passing_math_schools

Bailey High School       64.63
Cabrera High School      89.56
Figueroa High School     63.75
Ford High School         65.75
Griffin High School      89.71
Hernandez High School    64.75
Holden High School       90.63
Huang High School        63.32
Johnson High School      63.85
Pena High School         91.68
Rodriguez High School    64.07
Shelton High School      89.89
Thomas High School       90.21
Wilson High School       90.93
Wright High School       90.28
dtype: float64

In [88]:
#finding % of students passing reading 

#find the total students passing reading from the combined dataset
students_passing_reading = combined_df[combined_df["reading_score"]>70]

#find the students passing reading by doing groupby
students_passing_reading_per_school = students_passing_reading.groupby(["school_name"]).count()["name"]

#percentage of students passing reading per school
percentage_passing_reading = round((students_passing_reading_per_school/total_students_per_school)*100,2)
percentage_passing_reading

Bailey High School       79.30
Cabrera High School      93.86
Figueroa High School     78.43
Ford High School         77.51
Griffin High School      93.39
Hernandez High School    78.19
Holden High School       92.74
Huang High School        78.81
Johnson High School      78.28
Pena High School         92.20
Rodriguez High School    77.74
Shelton High School      92.62
Thomas High School       92.91
Wilson High School       93.25
Wright High School       93.44
dtype: float64

In [89]:

#overall passing rate per school
overall_passing_rate = (percentage_passing_math_schools + percentage_passing_reading)/2
overall_passing_rate

Bailey High School       71.965
Cabrera High School      91.710
Figueroa High School     71.090
Ford High School         71.630
Griffin High School      91.550
Hernandez High School    71.470
Holden High School       91.685
Huang High School        71.065
Johnson High School      71.065
Pena High School         91.940
Rodriguez High School    70.905
Shelton High School      91.255
Thomas High School       91.560
Wilson High School       92.090
Wright High School       91.860
dtype: float64

In [106]:
#creating a summary of the school data
school_summary_df = pd.DataFrame({"School Type":school_type,
                                 "Total Students":total_students_per_school,
                                 "Total School Budget":budget_per_school,
                                 "Budget per student":budget_per_student,
                                 "Average Math Score":avg_math_scores,
                                 "Average Reading Score":avg_reading_scores,
                                 "% Passing Math":percentage_passing_math_schools,
                                 "% Passing Reading":percentage_passing_reading,
                                 "Overall Passing rate":overall_passing_rate})
school_summary_df.head()

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Budget per student,Overall Passing rate,School Type,Total School Budget,Total Students
Bailey High School,64.63,79.30,77.05,81.03,628.0,71.965,District,3124928.0,4976
Cabrera High School,89.56,93.86,83.06,83.98,582.0,91.710,Charter,1081356.0,1858
Figueroa High School,63.75,78.43,76.71,81.16,639.0,71.090,District,1884411.0,2949
Ford High School,65.75,77.51,77.10,80.75,644.0,71.630,District,1763916.0,2739
Griffin High School,89.71,93.39,83.35,83.82,625.0,91.550,Charter,917500.0,1468

In [96]:
top_performing_schools = school_summary_df.sort_values(["Overall Passing rate"],ascending = False).head(5)
top_performing_schools

,% Passing Math Schoolwise,% Passing Reading Schoolwise,Average Math Score,Average Reading Score,Overall Passing rate,School Type,Total School Budget,Total Students
Wilson High School,90.93,93.25,83.27,83.99,92.090,Charter,1319574.0,2283
Pena High School,91.68,92.20,83.84,84.04,91.940,Charter,585858.0,962
Wright High School,90.28,93.44,83.68,83.96,91.860,Charter,1049400.0,1800
Cabrera High School,89.56,93.86,83.06,83.98,91.710,Charter,1081356.0,1858
Holden High School,90.63,92.74,83.80,83.81,91.685,Charter,248087.0,427

In [97]:
bottom_five_schools = school_summary_df.sort_values(["Overall Passing rate"],ascending = False).tail(5)
bottom_five_schools

,% Passing Math Schoolwise,% Passing Reading Schoolwise,Average Math Score,Average Reading Score,Overall Passing rate,School Type,Total School Budget,Total Students
Hernandez High School,64.75,78.19,77.29,80.93,71.470,District,3022020.0,4635
Figueroa High School,63.75,78.43,76.71,81.16,71.090,District,1884411.0,2949
Huang High School,63.32,78.81,76.63,81.18,71.065,District,1910635.0,2917
Johnson High School,63.85,78.28,77.07,80.97,71.065,District,3094650.0,4761
Rodriguez High School,64.07,77.74,76.84,80.74,70.905,District,2547363.0,3999

In [98]:

avg_math_scores_grade = round(combined_df.groupby(["grade"]).mean()["math_score"],2)
avg_math_scores_grade

grade
10th    78.94
11th    79.08
12th    78.99
9th     78.94
Name: math_score, dtype: float64

In [99]:
avg_reading_score_grade = round(combined_df.groupby(["grade"]).mean()["reading_score"],2)
avg_reading_score_grade

grade
10th    81.87
11th    81.89
12th    81.82
9th     81.91
Name: reading_score, dtype: float64

In [102]:
#create bins in which data will be held
bins = [0, 585, 615, 645, 675]
names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [107]:
per_school_summary = school_summary_df[["School Type",  "Total School Budget","Budget per student",
                                         "Average Math Score", "Average Reading Score", 
                                         "% Passing Math", "% Passing Reading", 
                                         "Overall Passing rate"]]

#insert dollar sign 
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Budget per student"] = per_school_summary["Budget per student"].map("${:,.2f}".format)

#display the dataframe
per_school_summary

C:\Users\tr0ub\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\tr0ub\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,School Type,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
Bailey High School,District,"$3,124,928.00",$628.00,77.05,81.03,64.63,79.30,71.965
Cabrera High School,Charter,"$1,081,356.00",$582.00,83.06,83.98,89.56,93.86,91.710
Figueroa High School,District,"$1,884,411.00",$639.00,76.71,81.16,63.75,78.43,71.090
Ford High School,District,"$1,763,916.00",$644.00,77.10,80.75,65.75,77.51,71.630
Griffin High School,Charter,"$917,500.00",$625.00,83.35,83.82,89.71,93.39,91.550
Hernandez High School,District,"$3,022,020.00",$652.00,77.29,80.93,64.75,78.19,71.470
Holden High School,Charter,"$248,087.00",$581.00,83.80,83.81,90.63,92.74,91.685
Huang High School,District,"$1,910,635.00",$655.00,76.63,81.18,63.32,78.81,71.065
Johnson High School,District,"$3,094,650.00",$650.00,77.07,80.97,63.85,78.28,71.065
Pena High School,Charter,"$585,858.00",$609.00,83.84,84.04,91.68,92.20,91.940
Rodriguez High School,District,"$2,547,363.00",$637.00,76.84,80.74,64.07,77.74,70.905
Shelton High School,Charter,"$1,056,600.00",$600.00,83.36,83.73,89.89,92.62,91.255
Thomas High School,Charter,"$1,043,130.00",$638.00,83.42,83.85,90.21,92.91,91.560
Wilson High School,Charter,"$1,319,574.00",$578.00,83.27,83.99,90.93,93.25,92.090
Wright High School,Charter,"$1,049,400.00",$583.00,83.68,83.96,90.28,93.44,91.860

In [108]:
#school spendings 
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(budget_per_student,bins,labels = names)
per_school_summary

,School Type,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate,Spending Ranges (Per Student)
Bailey High School,District,"$3,124,928.00",$628.00,77.05,81.03,64.63,79.30,71.965,$615-645
Cabrera High School,Charter,"$1,081,356.00",$582.00,83.06,83.98,89.56,93.86,91.710,<$585
Figueroa High School,District,"$1,884,411.00",$639.00,76.71,81.16,63.75,78.43,71.090,$615-645
Ford High School,District,"$1,763,916.00",$644.00,77.10,80.75,65.75,77.51,71.630,$615-645
Griffin High School,Charter,"$917,500.00",$625.00,83.35,83.82,89.71,93.39,91.550,$615-645
Hernandez High School,District,"$3,022,020.00",$652.00,77.29,80.93,64.75,78.19,71.470,$645-675
Holden High School,Charter,"$248,087.00",$581.00,83.80,83.81,90.63,92.74,91.685,<$585
Huang High School,District,"$1,910,635.00",$655.00,76.63,81.18,63.32,78.81,71.065,$645-675
Johnson High School,District,"$3,094,650.00",$650.00,77.07,80.97,63.85,78.28,71.065,$645-675
Pena High School,Charter,"$585,858.00",$609.00,83.84,84.04,91.68,92.20,91.940,$585-615
Rodriguez High School,District,"$2,547,363.00",$637.00,76.84,80.74,64.07,77.74,70.905,$615-645
Shelton High School,Charter,"$1,056,600.00",$600.00,83.36,83.73,89.89,92.62,91.255,$585-615
Thomas High School,Charter,"$1,043,130.00",$638.00,83.42,83.85,90.21,92.91,91.560,$615-645
Wilson High School,Charter,"$1,319,574.00",$578.00,83.27,83.99,90.93,93.25,92.090,<$585
Wright High School,Charter,"$1,049,400.00",$583.00,83.68,83.96,90.28,93.44,91.860,<$585

In [109]:
#create bins to categorise the schools based on size
bins_size = [0,1500,3000,5000]
labels_size = ["Small","Medium","Large"]

In [110]:
#categorise the dataframe
per_school_summary["Size of the school"] = pd.cut(school_summary_df["Total Students"],bins_size,labels = labels_size)
per_school_summary

,School Type,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate,Spending Ranges (Per Student),Size of the school
Bailey High School,District,"$3,124,928.00",$628.00,77.05,81.03,64.63,79.30,71.965,$615-645,Large
Cabrera High School,Charter,"$1,081,356.00",$582.00,83.06,83.98,89.56,93.86,91.710,<$585,Medium
Figueroa High School,District,"$1,884,411.00",$639.00,76.71,81.16,63.75,78.43,71.090,$615-645,Medium
Ford High School,District,"$1,763,916.00",$644.00,77.10,80.75,65.75,77.51,71.630,$615-645,Medium
Griffin High School,Charter,"$917,500.00",$625.00,83.35,83.82,89.71,93.39,91.550,$615-645,Small
Hernandez High School,District,"$3,022,020.00",$652.00,77.29,80.93,64.75,78.19,71.470,$645-675,Large
Holden High School,Charter,"$248,087.00",$581.00,83.80,83.81,90.63,92.74,91.685,<$585,Small
Huang High School,District,"$1,910,635.00",$655.00,76.63,81.18,63.32,78.81,71.065,$645-675,Medium
Johnson High School,District,"$3,094,650.00",$650.00,77.07,80.97,63.85,78.28,71.065,$645-675,Large
Pena High School,Charter,"$585,858.00",$609.00,83.84,84.04,91.68,92.20,91.940,$585-615,Small
Rodriguez High School,District,"$2,547,363.00",$637.00,76.84,80.74,64.07,77.74,70.905,$615-645,Large
Shelton High School,Charter,"$1,056,600.00",$600.00,83.36,83.73,89.89,92.62,91.255,$585-615,Medium
Thomas High School,Charter,"$1,043,130.00",$638.00,83.42,83.85,90.21,92.91,91.560,$615-645,Medium
Wilson High School,Charter,"$1,319,574.00",$578.00,83.27,83.99,90.93,93.25,92.090,<$585,Medium
Wright High School,Charter,"$1,049,400.00",$583.00,83.68,83.96,90.28,93.44,91.860,<$585,Medium